.ScoreBoard {
  display: flex;
  gap: 1rem;
  justify-content: center;
  text-align: center;
}
.ScoreBoard p {
  font-size: 2rem;
}
h3 {
  border-bottom: 2px solid transparent;
}
.active h3 {
  border-bottom: 2px solid yellow;
}
.ScoreBoard button {
  border-radius: 8px;
  font-weight: bold;
}
.PlayerScore > * {
  margin: 0;
}
.PlayerScore {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
