#gameBoard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6);
  gap: 0;
}

.CategoryColumn {
  display: grid;
  grid-template-rows: repeat(6, 13vh);
}
.Question {
  transition: all 0.4s;
}
.Question button {
  border: none;
  background-color: blue;
  color: yellow;
  border: 1px solid yellow;
  width: 100%;
  height: 100%;
}
.Question.active {
  z-index: 1;
  transform: scale(2);
}
